<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    {{> navigation}}
    <section id="hero">
        {{#each contacts}}
        <a href="/single/{{_id}}">
        <article class="contact">
            <img src={{url}} alt="">
            <h2>{{name}}</h2>
            <div class="details">
                <h3>{{email}}</h3>
                <h3>{{phone}}</h3>
            </div>
        </article>
        </a>
        {{/each}}
    </section>
</body>

</html>